body{
	background-color: #292928;
}

h1{
	font-family: serif;
	color: white;
	text-align: center;
}

p {
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	line-height: 1.5;
	padding-left: 400px;
	text-align: justify;
	
}

hr{
	width: 50%;
}

p.content {

	color: lightslategray;
	font-size: 25px;
	text-align: justify;
	padding-left: 400px;
}

a{
	color: lightblue;
}